{% extends 'base.html' %}
{% load static %}

{% block title %}
    Upload en film
{% endblock title %}

{% block other %}

{% endblock other %}

{% block body_block %}
{% include "partials/_navbar.html" %}
    <header class="object-fill bg-cover bg-center min-h-screen max-h-screen showcase border-gray-600 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'index_poster.jpg' %}');">            <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl opacity-90" style="">
                <section>
                    <h3 class="font-bold text-2xl text-center">Upload film</h3>
                </section>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
        
                <section class="mt-5">
                    <form class="flex flex-col" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
        
        
                        <div class="mb-6 pt-3 rounded bg-white">
                            <input type="text" name="title" id="id_title" placeholder="Titel" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-red-600 transition duration-500 px-3 pb-3">
                        </div>
                        <div class="mb-6 pt-3 rounded bg-white">
                            <input type="file" name="file" id = "id_file">
                        </div>
                        <div class="text-center">
                            <button class="w-32 bg-red-600 hover:bg-red-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">
                                Upload film
                            </button>
                        </div>
                    </form>
                </section>
            </main>
    </header>
{% endblock body_block %}