#nav {
    transition: background-color 0.8s ease;
    background-color:rgb(255,255,255,0);
    
  }
  #nav.navbar-fixed {
    background-color:rgb(20, 20, 20);
  }

  ion-icon {
    font-size: 40px; 
}