<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaM8 | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}">
    {% block other %}
    
    {% endblock other %}
</head>
    {% block body_block %}
    

    <script>
        const nav = document.querySelector('nav')
        document.addEventListener("scroll",e=>{
            if(scrollY>100){
                nav.classList.add('navbar-fixed')
                
            }else{
                nav.classList.remove('navbar-fixed')
            }
        })
    </script>
    {% endblock body_block %}

</html>

