{% extends 'base.html' %}
{% load static %}

{% block title %}
Alle film
{% endblock title %}

{% block other %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock other %}

{% block body_block %}
    
    <!-- NAVBAR -->
    <nav class="p-5 md:flex md:items-center md:justify-between fixed w-full z-10 top-0" id="nav">
        <div>
            <span class="text-2x1 font-[Poppins] cursor-pointer">
                <a href="{% url 'core:home' %}">
                    <p class="text-3xl font-mono text-white">MediaM8</p>
                </a>
            </span>
            
        </div>
        
        <ul class="md:flex md:items-center">
            {% if request.user.is_authenticated %}
            <li class="mx-8">
                <form name="search_form" method = "GET" action="{% url 'core:search' %}">
                    <input type="text" class="bg-gray-200 rounded text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-red-600 transition duration-500", name="search" placeholder="Search for genre or movie">
                        <button class="bg-primary_red text-white py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </input>
                </form>
            </li>
            <li class="mx-4">
                <button class="bg-primary_red text-white py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                    <a href="{% url 'core:profiles' %}"> <ion-icon name="people-outline"></ion-icon> </a>
                </button>
            </li>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
            <li class="mx-4">
                <button class="bg-primary_red text-white py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                    <ion-icon name="log-out-outline"></ion-icon>
                </button>
            </li>
            </form>
            <a href="{% url 'upload_film' %}">
            <button class="bg-primary_red text-white py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                <ion-icon name="cloud-upload-outline"></ion-icon>
            </button>
            </a>
            {% else %}
            <li class="mx-4">
                <button class="text-white bg-primary_red py-1 px-2 md:text-lg rounded-md hover:text-red-500 duration-500">
                    <a href="{% url 'account_login' %}"> Sign in</a>
                </button>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- NAVBAR END -->
    
    {% if show_case %}
        <section class="h-screen relative bg-no-repeat pb-8 flex items-end bg-cover"
        style="background-image: url('{{show_case.backdrop_path}}');">
        <div>
            <h2 class="text-6xl font-semibold text-white my-4 pl-6">
                {{show_case.original_title}}
            </h2>
            <p class=" w-11/12 md:w-5/12 font-medium text-white my-4 pl-6">
                {{show_case.tagline | slice:":50"}}
            </p>
            <div class="flex my-4 pl-6">
                <a href="{% url 'core:movie_play' movie_id=show_case.uuid %}">
                    <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                        <ion-icon name="play" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium">
                            Play
                        </span>
                    </button>
                </a>

                <a href="{% url 'core:show_movie' movie_id=show_case.uuid %}">
                    <button class="ml-4 text-white flex items-center bg-gray-500 bg-opacity-80 py-2 px-5 rounded-md">
                        <ion-icon name="information-circle-outline" class="text-2xl"></ion-icon>
                        <span class="ml-3 font-medium">
                            More Info
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-2xl font-medium">
                Popular on MediaM8
            </h2>
            <div class="flex   items-center min-w-full  movie_lis">
                {% for movie in movies %}
                {% if movie.thumbnail.url == True %}
                <a href="{% url 'core:show_movie' movie_id=movie.uuid %}">
                    <div class=" h-40 m-4  bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                        <img src="{{movie.thumbnail.url}}" class="w-full h-full " alt="">
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</body>
{% else %}
    <header class="object-fill bg-cover bg-center min-h-screen max-h-screen showcase border-gray-600 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'index_poster.jpg' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center">
                There are currently no movies in your database, please upload some to continue.
            </h1>
        </div>
    </header>
{% endif %}

<script>
    const nav = document.querySelector('nav')
    document.addEventListener("scroll",e=>{
        if(scrollY>100){
            nav.classList.add('navbar-fixed')
            
        }else{
            nav.classList.remove('navbar-fixed')
        }
    })
</script>
{% endblock body_block %}

