{% extends 'base.html' %}
{% load static %}

{% block title %}
New profile
{% endblock title %}

{% block other %}

{% endblock other %}

{% block body_block %}
{% include "partials/_navbar.html" %}
<header class="object-fill bg-cover bg-center min-h-screen max-h-screen bg-black bg-opacity-95 showcase flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'index_poster.jpg' %}');">
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl" style="">
        <section>
            <h3 class="font-bold text-2xl text-center">Opret en profil</h3>
        </section>
        {{form.errors}}
        <section class="mt-5">
            <form method="post" action="{% url 'core:create_profile' %}" class="flex flex-col" >
                {% csrf_token %}


                <div class="mb-6 pt-3 rounded bg-white">
                    <label class="block text-gray-700 text-sm font-bold mb-2 ml-3">Profil navn</label>
                    <input type="text" name="name" id="id_name" placeholder="Profil navn" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-red-600 transition duration-500 px-3 pb-3">
                </div>

            
                <div class="text-center">
                    <button class="w-32 bg-red-600 hover:bg-red-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">
                        Opret profil
                    </button>
                </div>
            </form>
        </section>
    </main>
</header>
{% endblock body_block %}