{% extends 'base.html' %}
{% load static %}

{% block title %}
Alle film
{% endblock title %}

{% block other %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock other %}

{% block body_block %}
    {% include "partials/_navbar.html" %}
    <body class="bg-fixed min-h-screen max-h-screen flex justify-center items-center"  style="background-image: url('{% static 'index_poster.jpg' %}');">
    
    {% if movie_found %}
    <div class="grid grid-cols-5 grid-rows-5 gap-4 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-fuchsia rounded-lg px-6"style="margin-top:75%;">
    {% for movie in movies %}
    <div class="">
        <div class="rounded-lg shadow-lg bg-white h-96">
          <a href="{% url 'core:show_movie' movie_id=movie.uuid %}">
            <img class="rounded-t-lg" src="{{movie.backdrop_path}}" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">{{movie.original_title}}</h5>
            <p class="text-gray-700 text-base mb-4" style="margin-top:30px;">
              {{movie.tagline | slice:":25"}}..
            </p>
            <a href="{% url 'core:movie_play' movie_id=movie.uuid %}">
            <button type="button" class=" inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"style="bottom:5px;">
              Play  
            </button>
            </a>
          </div>
        </div>
      </div>
    {%endfor%}
    </div>
    {%endif%}

    {% if genre_found %}
    <div class="grid grid-cols-5 grid-rows-5 gap-4 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-fuchsia rounded-lg px-6 h-96"style="margin-top:75%;">
    {% for mov in genres %}
    <div class="">
        <div class="rounded-lg shadow-lg bg-white h-96">
          <a href="{% url 'core:show_movie' movie_id=mov.uuid %}">
            <img class="rounded-t-lg" src="{{mov.backdrop_path}}" alt=""/>
          </a>
          <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">{{mov.original_title}}</h5>
            <p class="text-gray-700 text-base mb-4">
              {{mov.tagline}}
            </p>
            <a href="{% url 'core:movie_play' movie_id=mov.uuid %}">
            <button type="button" class=" inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Play  
            </button>
            </a>
          </div>
        </div>
      </div>

    {% endfor %}
    </div>
    {% elif not genre_found and not movie_found %}
    <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center text-white">No movies found!</h1>
    {%endif%}

    </body>
<script>
    const nav = document.querySelector('nav')
    document.addEventListener("scroll",e=>{
        if(scrollY>100){
            nav.classList.add('navbar-fixed')
            
        }else{
            nav.classList.remove('navbar-fixed')
        }
    })
</script>


{% endblock body_block %}

